.hidden {
  display: none;
}

h1 {
  text-align: center;
  background-color:rgb(203, 236, 38)
}

img {
  width: 28%;
  border-radius: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

#intro {
  text-align: center; 
  font-size: x-large;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #7af8ce;
  margin: auto;
  padding-left: 15px;
}

#generate {
  border-width: 10px;
  border: dotted black; 
  margin-top: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(248, 248, 250);  
}

label {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#ruby {
  background-color: pink;
  border: dashed hotpink; 
  padding-left: 15px; 
}

#javascript {
  background-color: rgb(233, 132, 233); 
  border: dotted purple; 
  padding-left: 15px; 
}

#csharp {
  background-color:rgb(203, 236, 38);
  border: solid green; 
  padding-left: 15px; 
}

#python {
  background-color:darkorange; 
  border: double orangered;
  padding-left: 15px; 
}

#rust {
  background-color:lightcoral; 
  border: dashed darkslateblue;
  padding-left: 15px; 
} 